<!-- <h2>Field Group</h2>
<div
  class="example-list"
  class="container"
  cdkDropList
  id="view"
  [cdkDropListConnectedTo]="['1']"
  cdkDropListSortingDisabled
>
  <div class="example-box" cdkDrag *ngFor="let widget of list">
    {{ widget }}
  </div>
</div> -->

<mat-card *ngIf="field.id" cdkDrag cdkDragBoundary=".workspaceClass test">
  <h3>Form Group Name</h3>
  <div *cdkDragPreview>
    <div class="widget_item_preview"></div>
  </div>

  <div *cdkDragPlaceholder>
    <div class="widget_item_placeholder"></div>
  </div>

  <div
    [cdkDropListConnectedTo]="['workSpace']"
    [id]="id"
    class="workspace"
    cdkDropList
    [cdkDropListData]="fields"
    (cdkDropListDropped)="drop($event)"
  >
    <form>
      <formly-form
        *ngIf="fields.length && options"
        [model]="model"
        [fields]="fields"
        [options]="options"
        [form]="form"
      ></formly-form>
    </form>

    <div *ngIf="!this.fields.length" class="workspace_empty">
      <h2>Drop Input Fields Here</h2>
      <mat-icon
        svgIcon="empty-workspace-icon"
        class="workspace_empty_icon"
      ></mat-icon>
    </div>
  </div>
</mat-card>
